

.blist li{
	display: flex;
	height: 3rem
	width: 70%;
	/*border: solid 1px;*/
	margin-bottom: 1rem;
	border-bottom: 1px ridge;
}

.blist li h6:hover{
	background-image: <i class="fas fa-play-circle"></i>;
}

.blist li img{
	width: 3rem;
	height:3.5rem;
	margin-right: 2rem;
	flex: 1;
}
.blist li p{
	flex: 2.5;
	/*margin-right: 3rem;*/
}
.blist li h6{
	/*margin-right: 2rem;*/
	flex: .5;
	margin-left: 1rem;
}

li h5{
	margin-right: 2rem;
	text-decoration: underline;
	font-size: revert;
}

.blist li:hover{
	/*color: rgba(28,204,210,0.2);*/
	background-color: rgba(28,204,210,0.1);
}

/*----------------------Section------------*/

section{
	width: 70%;
	margin: 3rem;
	margin-top: 0px;
	display: inline-flex;
	font-family: Tahoma, Geneva, sans-serif;
}

h2{
	font-size: xx-large;
}

#image{
	border-radius: 5%;
	margin-right: 5rem;
}

button{
	height: 3rem;
	width: 9rem;
	font-size: large;
	border-radius: 50px;
	position: relative;
	left: -17rem;
	top: 10rem;
	background-color: azure;
	color: rgb(28,204,210);
}

